const data = [
  {
    tax_rate: 10,
    // key of master object
    you: "key",
    partner: "key",
    bank: "key",
    label: "quotation",

    // document created date
    today: "2021/9/1",
    // when sold
    period: {
      month: 9,
      year: 2021,
    },
    // what sold
    rows: [
      {
        label: "title",
        quantity: 1,
        price: 5000,
      },
    ],
    message: "something",
  },
];

/* Set adjast to show previous data. */
const adjast = 0;
const selected = data[data.length - 1 - adjast];

const label = master.labels[selected.label];
const you = master.you[selected.you];
const partner = master.partner[selected.partner];
const today = selected.today;
const period = selected.period;
const rows = selected.rows;
const bank = master.bank[selected.bank];
const message = selected.message;
